*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}

.display > h2{
    color: black;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
}

.btnContainer > button{
    height: 45px;
    width: 130px;
    margin: 0px 5px;
    border: transparent;
    font-weight: 600;
}

.restBtn{
    background-color: palevioletred;
}

.btnContainer > button:hover{
    cursor: pointer;
}

.restBtn:hover{
    background-color: rgb(176, 44, 88);
}
